# Python
__pycache__/
*.py[cod]
*.db

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Flask
instance/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/